# Dependencies
node_modules/
**/node_modules/

# Env files
.env
**/.env
!**/.env.example

# Build output
frontend/build/
frontend/dist/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
